
__pycache__/abstraction.cpython-39.pyc
__pycache__/gemini_api_connection.cpython-39.pyc
.DS_Store
__pycache__/abstraction.cpython-310.pyc
__pycache__/gemini_api_connection.cpython-310.pyc
__pycache__/gooey_api_connection.cpython-310.pyc
__pycache__/prompts.cpython-310.pyc
__pycache__/gooey_api_connection.cpython-39.pyc
